/* font css */
@font-face {
    font-family: "YekanBakh Bold";
    src: url("../fonts/YekanBakh-Bold.woff");
}
@font-face {
    font-family: "YekanBakh Heavy";
    src: url("../fonts/YekanBakh-Heavy.woff");
}
@font-face {
    font-family: "YekanBakh Medium";
    src: url("../fonts/YekanBakh-Medium.woff");
}
@font-face {
    font-family: "YekanBakh Regular";
    src: url("../fonts/YekanBakh-Regular.woff");
}
/* reset.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button {
    font: inherit;
    border: 0;
}
/* Code css */

body {
    font-family: YekanBakh Regular,sans-serif;
    box-sizing: border-box;
    line-height: 1.5rem;
}
.content {
    max-width: 1008px;
    margin: 0 auto;
}
.header {
    text-align: center;
    margin-bottom: 24px;
}
.content__title {
    font-size: 30px;
    font-family: "YekanBakh Heavy",sans-serif;
    margin-bottom: 10px;
}
.content__img {
}
.main {
    background-color: rgba(245, 245, 245, 1);
    padding: 24px 8px 24px 24px;
    border-radius: 16px;
    font-family: "YekanBakh Regular",sans-serif;
    position: relative;
}
.main__open  .main {
    height: 459px;
}
.main__text {
    height: 288px;
    overflow: hidden;
    margin-bottom: 14px;
    text-align: right;
    padding-right:8px ;
}
.main__open .main__text {
    overflow-y: auto;
    direction: ltr;
    min-height: 500px;
}
.main__open  .main__text::-webkit-scrollbar {
    width: 8px;
}
.main__open  .main__text::-webkit-scrollbar-track {
    background-color: rgba(245, 245, 245, 1);
}
.main__open  .main__text::-webkit-scrollbar-thumb {
    background-color: rgba(217, 217, 217, 1);
    border-radius: 50px;
}
.main__shadow {
    width: 960px;
    height: 158px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    background: linear-gradient( 0deg,  rgba(245, 245, 245, 1) 0%,  rgba(245, 245, 245, 0.54) 90%, rgba(245, 245, 245, 0) 100%)
}
.main__open .main__shadow {
    display: none;
}
.main__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 302px;
    height: 48px;
    border-radius: 8px;
    padding: 12px 16px;
    background-color: rgba(235, 94, 40, 1);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -24px;
    margin: 0 auto;
}
.main__open .main__button {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(235, 94, 40, 1);
    border: 1px solid rgba(235, 94, 40, 1);
}
.main__btn-text {
    font-size: 16px;
    font-family: "YekanBakh Regular", sans-serif;
    margin: 0;
}

.main__svg-add,
.main__svg-close {
    width: 24px;
    height: 24px;
}
.main__svg-close {
    display: none;
}
.main__open .main__svg-close {
    display: inline-block;
}
.main__open .main__svg-add {
    display: none;
}
.main__btn-text--less {
    display: none;
}

.main__open .main__btn-text--more {
    display: none;
}

.main__open .main__btn-text--less {
    display: block;
}

