/* font css */
@font-face {
    font-family: "YekanBakh Bold";
    src: url("../fonts/YekanBakh-Bold.woff");
}
@font-face {
    font-family: "YekanBakh Heavy";
    src: url("../fonts/YekanBakh-Heavy.woff");
}
@font-face {
    font-family: "YekanBakh Medium";
    src: url("../fonts/YekanBakh-Medium.woff");
}
@font-face {
    font-family: "YekanBakh Regular";
    src: url("../fonts/YekanBakh-Regular.woff");
}
/* reset.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Code css */

body {
    font-family: YekanBakh Regular,sans-serif;
    box-sizing: border-box;
}
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.card__wrapper {
    width: 592px;
    height: 424px;
    background-image: url("../images/card.png");
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}
.card__icons {
    display: flex;
    align-items: center;
    gap: 16px;
    position: absolute;
    left: 20px;
    top: -48px;
    color: #fff;
    transition: all ease-in-out 180ms;
}
.card__wrapper:hover .card__icons {
    top: 20px;
}
.card__message {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-color: #1D2939;
    border-radius: 50px;
    padding: 10.5px 16px;
}
.card__message-number {
    font-size: 18px;
    line-height: 27px;
    font-family: YekanBakh Regular,sans-serif;
    font-weight: 600;
}
.card__heart {
    background-color: #C9184A;
    padding: 12px;
    border-radius: 50px;
}
.card__content {
    position: absolute;
    bottom: -128px;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    color: #fff;
    transition: all ease-in-out 180ms;
}
.card__title {
    padding: 36px 24px 24px;
    font-size: 24px;
    font-family: YekanBakh Bold,sans-serif;
}
.card__caption {
    font-size: 20px;
    padding: 0 24px 24px 24px;
}
.card__wrapper:hover > .card__content {
    bottom: 0;
}