/* Fonts */

@font-face {
  font-family: "YekanBakh Regular";
  src: url("../fonts/YekanBakh-Regular.woff");
}
@font-face {
  font-family: "YekanBakh Medium";
  src: url("../fonts/YekanBakh-Medium.woff");
}
@font-face {
  font-family: "YekanBakh Bold";
  src: url("../fonts/YekanBakh-Bold.woff");
}
@font-face {
  font-family: "YekanBakh Heavy";
  src: url("../fonts/YekanBakh-Heavy.woff");
}

/* Reset Css */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button{
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
}
/* App Css */
body{
  font-family: "YekanBakh Medium",sans-serif;
  line-height: 1.5;
  color: #1D2939;
  background-color: #E5E9EC;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form__wrapper {
  max-width: 594px;
  height: 96vh;
  border-radius: 16px;
  background-color: #fff;
  padding: 30px 60px 34px 60px;
  margin: 0 16px;
}
.form__wrapper__text {
}
.form__wrapper__title {
  font-family: "YekanBakh Heavy", sans-serif;
  font-size: 30px;
  text-align: center;
  color: #1D2939;
  width: 474px;;
}
.form__wrapper__caption {
 text-align: center;
  margin-top: 16px;
  font-size: 18px;
  color: #1D293980;
}
.form__wrapper__input {
  margin-top: 24px;
}
.form__label {
  font-family: "YekanBakh Bold",sans-serif;
  font-size: 14px;
}
.form__label:after {
  content: "*";
  color: #C91841;
  font-size: 12px;
}
.form__input {
  display: block;
  margin-top: 16px;
  width: 474px;
  line-height: 20px;
  border: 1px solid #E5E5E5;
  color: #1D2939;
  border-radius: 4px;
  height: 52px;
  padding: 15px;
}
.form__input::placeholder {
  color: #A7A7A7;
  font-size: 14px;
  font-family: "YekanBakh Regular",sans-serif;
}
.form__input:focus {
  border-color: #1D2939;
  outline: none;
}
.form__submit__btn {
  width: 474px;
  height: 52px;
  border-right: 4px;
  background-color: #1D2939;
  color: #fff;
  font-family: "YekanBakh Regular",sans-serif;
  margin-top: 24px;
  cursor: pointer;
}
.form__wrapper__lines {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.form__line__text {
  color: #A7A7A7;
  font-size: 18px;
  font-family: "YekanBakh Regular",sans-serif;
}
.form__line {
  width: 175px;
  display: block;
  border: 0.8px solid #E5E5E5;
}
.form__wrapper__links {
  display: flex;
  align-items: center;
  column-gap: 14px;
  margin-top: 15px;
}
.form__wrapper__items {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  flex: 1;
  height: 52px;
  border: 1px solid #E5E5E5CC;
  text-decoration: none;
  border-radius: 4px;
}
.title__link {
  height: 18px;
  font-family: "YekanBakh Medium",sans-serif;
  color: #1D2939;
}
@media only screen and (max-width: 700px) {
  .form__wrapper {
    width: calc(100% - 106px);
  }
  .form__submit__btn,
  input[placeholder] {
    width: 100%;
  }
  .form__wrapper__title {
    width: 100%;
    font-size: 25px;
    text-align: center;
  }
  .form__line__text {
    margin: 0 20px;
    white-space: nowrap;
  }
}
@media only screen and (max-width: 500px) {
  .form__wrapper {
    width: 400px;
  }
}
@media only screen and (max-width: 400px) {
  .form__wrapper {
    width: calc(100% - 32px);
    padding: 24px 20px;
    height: 755px;
  }
  .form__wrapper__text {
    text-align: center;
  }
  .form__wrapper__title {
    font-size: 20px;
    width: auto;
  }
  .form__wrapper__caption {
    margin-top: 20px;
  }
  .form__submit__btn,
  input[placeholder] {
    width: 100%;
  }
  .form__line {
    width: 98px;
  }
  .form__wrapper__links {
    flex-direction: column;
    row-gap: 16px;
  }
  .form__wrapper__items {
    width: 100%;
    flex: none;
  }
}