/* font css */
@font-face {
    font-family: "YekanBakh Bold";
    src: url("../fonts/YekanBakh-Bold.woff");
}
@font-face {
    font-family: "YekanBakh Heavy";
    src: url("../fonts/YekanBakh-Heavy.woff");
}
@font-face {
    font-family: "YekanBakh Medium";
    src: url("../fonts/YekanBakh-Medium.woff");
}
@font-face {
    font-family: "YekanBakh Regular";
    src: url("../fonts/YekanBakh-Regular.woff");
}
/* reset.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button {
    font: inherit;
    border: 0;
}
/* Css Code */
.popup__wrapper_btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup__btn {
    width: 326px;
    height: 60px;
    position: absolute;
    cursor: pointer;
    border-radius: 10px;
    background-color: #ED1A3B;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    margin: auto;
    gap: 10px;
}
.popup__wrapper_box-hidden {
    display: none;
}
.popup__btn-text {
    color: #fff;
    font-family: "YekanBakh Regular",sans-serif;
}
.popup__btn-svg {
    width: 24px;
    height: 24px;
}
.popup__wrapper_box {
    width: 384px;
    height: 282px;
    inset: 0;
    margin: auto;
    position: absolute;
    border-radius: 16px;
    background-color: #fff;
    display: flex;
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    z-index: 20;
    transition: all 100ms ease-in-out;
}
.popup__wrapper_box--show {
    visibility: visible;
    opacity: 1;
}
.popup__wrapper_box-img {
    width: 160px;
    height: 150px;
    margin-top: 24px;
}
.popup__wrapper_box-text {
    color: #1D2939;
    font-family: "YekanBakh Medium",sans-serif;
    display: block;
}
.popup__wrapper__text {
    width: 336px;
    height: 54px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    justify-content: center;
    align-items: center;
}
.close__box {
    position: absolute;
    right: -16px;
    top: -16px;
    background-color: #1D2939;
    border-radius: 100%;
    cursor: pointer;
}
.close__box svg {
    width: 24px;
    height: 24px;
    padding: 9px;
}
.overfly {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background-color: #00000066;
    z-index: 10;
    transition: all 140ms ease-in-out;
}
.overfly--show {
    visibility: visible;
    opacity: 1;
}
