/* font css */
@font-face {
    font-family: "YekanBakh Bold";
    src: url("../fonts/YekanBakh-Bold.woff");
}
@font-face {
    font-family: "YekanBakh Heavy";
    src: url("../fonts/YekanBakh-Heavy.woff");
}
@font-face {
    font-family: "YekanBakh Medium";
    src: url("../fonts/YekanBakh-Medium.woff");
}
@font-face {
    font-family: "YekanBakh Regular";
    src: url("../fonts/YekanBakh-Regular.woff");
}
/* reset.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button {
    font: inherit;
    border: 0;
}
/* Code Css */
.container {
    position: relative;
    width: 800px;
    background-color: #F5F5F5;
    margin: 100px auto;
    border-radius: 10px;
}
.container__border {
    border: 1px solid #E5E5E5B2;
}
.container--height {
    height: 136px;
}
.accordion {
    padding: 18px 18px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.accordion__body {
    margin-bottom: 18px;
    display: none;
}
.accordion__body--hidden {
    display: block;
}
.accordion__title {
    font-family: "YekanBakh Medium",sans-serif;
    color: #1D2939;
    width: 80%;
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    user-select: none;
}
.accordion__title--color {
    color: #05A6A6;
}
.accordion__main {
    font-size: 14px;
    font-family: "YekanBakh Regular",sans-serif;
    color: #1D2939;
    line-height: 21px;
}
.accordion__main::selection {
    background-color: #b2b2b2;
}
.minus {
    position: absolute;
    left: 18px;
    bottom: -18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 2s ease-in-out;
}
.minus__svg {
    padding: 9px;
    background-color: #05A6A6;
    border-radius: 100%;
    display: none;
    width: 18px;
    height: 18px;
}
.minus__svg--show {
    display: block;
}
.add__svg {
    padding: 9px;
    background-color: #fff;
    border-radius: 100%;
    border: 1px solid #05A6A6;
    display: block;
    width: 18px;
    height: 18px;
}
.add__svg--hidden {
    display: none;
}