/* font css */
@font-face {
    font-family: "YekanBakh Bold";
    src: url("../fonts/YekanBakh-Bold.woff");
}
@font-face {
    font-family: "YekanBakh Heavy";
    src: url("../fonts/YekanBakh-Heavy.woff");
}
@font-face {
    font-family: "YekanBakh Medium";
    src: url("../fonts/YekanBakh-Medium.woff");
}
@font-face {
    font-family: "YekanBakh Regular";
    src: url("../fonts/YekanBakh-Regular.woff");
}
/* reset.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button {
    font: inherit;
    border: 0;
}
body {
    line-height: 1;
}
* {
    box-sizing: border-box;
}
.padding {
    padding: 24px 32px;
}
.filter-btn {
    width: 302px;
    position: relative;
    z-index: 20;
    display: flex;
    margin: 200px auto;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    gap: 6px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #EEEEEE;
    cursor: pointer;
}
.wrapper__checkbox-btn-text,
.wrapper__checkbox-item-text,
.wrapper__checkbox-text,
.filter-btn__text {
    font-family: "YekanBakh Medium",sans-serif;
    color: #1D2939;
    user-select: none;
}
.wrapper__checkbox {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    inset: 0;
    margin: auto;
    max-width: 376px;
    height: 100%;
    background-color: #fff;
    transition: all 50ms ease-in-out;
}
.wrapper__checkbox-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    padding: 24px 32px;
    background-color: #EEEEEE;
}
.wrapper__checkbox-svg {
    cursor: pointer;
}
.wrapper-svg--show {
}
.wrapper__checkbox-body {
}
.wrapper__checkbox-footer {
    margin-top: auto;
}
.wrapper__checkbox-btn {
    width: 312px;
    height: 48px;
    border-radius: 8px;
    padding: 12px 0;
    background-color: #C9184A;
    cursor: pointer;
}
.wrapper__checkbox-btn-text {
    color: white;
}
.wrapper__checkbox-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 32px 20px 32px;
}
.define {
    margin-top: 20px;
}
.wrapper__choose-color {

}
.wrapper__color {
    margin: 0 44px 20px 0;
    width: 300px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 16px;
}
.wrapper__color-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "YekanBakh Medium",sans-serif;
    list-style-type: circle;
    width: 300px;
}
.filter__name-color {
    display: flex;
    align-items: center;
    gap: 4px;
}
.filter__color-shape {
    width: 8px;
    height: 8px;
    border-radius: 100%;
}
.input__hidden {
    display: none;
}
.checkmark {
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid #E5E5E5;
    border-radius: 6px;
    background-color: #fff;
    transition: all 50ms ease-in-out;
}
.input__checked:checked + .checkmark {
    background-color: #003566;
}
.wrapper__checkbox-item__border {
    border: 1px solid #EEEEEE;
    margin: 0 32px;
}
.wrapper__checkbox-text {
    font-size: 18px;
    font-family: "YekanBakh Bold",sans-serif;
    tr
}
.wrapper__toggle-btn {
    width: 312px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrapper__checkbox-input {
    display: none;
}
.toggle__btn {
    position: relative;
    display: block;
    width: 46px;
    height: 24px;
    border-radius: 78px;
    background-color: #EEEEEE;
    transition: all 50ms ease-in-out;
}
.toggle__btn:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 4px;
    margin: auto 0;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: #fff;
    transition: all 50ms ease-in-out;
}
.wrapper__checkbox-input:checked + .toggle__btn {
    background-color: #003566;
}
.wrapper__checkbox-input:checked + .toggle__btn::after {
    right: 26px;
}
.overfly {
    display: none;
    position: absolute;
    inset: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
}
.overfly--show {
    display: block;
}
.wrapper__checkbox--show {
    opacity: 1;
    visibility: visible;
    z-index: 20;
}
.filter-btn_hidden {
    display: none;
}
.wrapper__color--show {
    display: flex;
}
